*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient( to right, rgb(0, 225, 0),rgb(225, 255, 0));
}
h1 {
    margin-top: 2px;
    font-size: 25px;
    text-align: center;
}
#caixa01{
    text-align: center;
}
#texf {
    align-items: center;
}
#tex {
    border: 2px solid black;
    font-size: 15px;
    color: black;
    margin-top: 15px;
    max-width: 55vh;
    margin-left: 40vh;
    background: linear-gradient( to right, rgb(255, 225, 0),rgb(0, 255, 0));;
}
#dbtex {
    margin-top: -22px;
    margin-left: 78vh;
    cursor: pointer;
}
#btex {
    background: linear-gradient( to right, rgb(255, 0, 0), rgb(255, 145, 0));
    text-align: center;
    height: 22px;
    border: 2px solid black;
    padding: 2px;
    font-size: small;
    cursor: pointer;
}
#p {
    text-align: center;
    color: #333;
}
#sopv {
    margin-top: -5px;
    margin-left: -235px;
}